[submodule "art"]
	path = art
	url = https://github.com/prizepun4973/art
[submodule "assets"]
	path = assets
	url = https://github.com/prizepun4973/assets
[submodule "modTemplate"]
	path = example_mods/modTemplate
	url = https://github.com/prizepun4973/modTemplate
