[submodule "assets"]
	path = assets
	url = https://github.com/prizepun4973/assets
[submodule "example_mods"]
	path = example_mods
	url = https://github.com/prizepun4973/modTemplate
[submodule "mods/modTemplate"]
	path = mods/modTemplate
	url = https://github.com/prizepun4973/modTemplate
[submodule "art/icons"]
	path = art/icons
	url = https://github.com/prizepun4973/art
[submodule "art/mods"]
	path = art/mods
	url = https://github.com/prizepun4973/modTemplate
