
# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  win64:
    runs-on: windows-latest
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      
      - uses: actions/checkout@v4

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5

      - name: Submodule
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      
      # Runs a set of commands using the runners shell
      - name: Restore existing build cache for faster compilation
        uses: actions/cache@v3
        with:
          # not caching the bin folder to prevent asset duplication and stuff like that
          key: cache-build-windows
          path: |
            .haxelib/
            export/release/windows/haxe/
            export/release/windows/obj/
          restore-keys: |
            cache-build-windows
      - name: Install Haxelib
        run: |
          haxelib install flixel 5.5.0 --skip-dependencies --never
          haxelib install flixel-addons 3.2.0 --skip-dependencies --never
          haxelib install flixel-ui 2.6.0 --skip-dependencies --never
          haxelib git hscript https://github.com/CodenameCrew/hscript-improved
          haxelib install hxCodec 2.5.1 --skip-dependencies --never
          haxelib install hxcpp 4.2.1 --skip-dependencies --never
          haxelib install hxdiscord_rpc 1.3.0
          haxelib install lime 8.1.3 --skip-dependencies --never
          haxelib install openfl 9.4.2 --skip-dependencies --never
          haxelib git linc_luajit https://github.com/superpowers04/linc_luajit
        shell: cmd
      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION
      - name: Compile
        run: haxelib run lime build windows -Dartifact
      - name: Publish Artifact
        uses: actions/upload-artifact@v4
        with:
          name: win64
          path: export/release/windows/bin
      # Thank you codename engine I will be stealing from you in the future!!
      # /j
      - name: Clearing already existing cache
        uses: actions/github-script@v6
        with:
          script: |
            const caches = await github.rest.actions.getActionsCacheList({
              owner: context.repo.owner,
              repo: context.repo.repo,
            })
            for (const cache of caches.data.actions_caches) {
              if (cache.key == "cache-build-windows") {
                console.log('Clearing ' + cache.key + '...')
                await github.rest.actions.deleteActionsCacheById({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  cache_id: cache.id,
                })
                console.log("Cache cleared.")
              }
            }
      - name: Uploading new cache
        uses: actions/cache@v3
        with:
          # caching again since for some reason it doesnt work with the first post cache shit
          key: cache-build-windows
          path: |
            .haxelib/
            export/release/windows/haxe/
            export/release/windows/obj/
          restore-keys: |
            cache-build-windows
